*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 0;
}
html {
  font-size: 62.5%;
}
img{
	display: block;
	max-width: 100%;
}

body {
  font-size: 1.6rem;
  font-family: "Hiragino Sans GB W3";
 
}
a , li {
	list-style: none;
	text-decoration: none;
	
}
 .clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	
}
.am-text-css{
	width:100%;
	height: 3.5rem;
	line-height: 3.5rem;
	background:#F6F6F6;
}
.am-g-bg{
	margin: 0.5rem 0;
	border-left: 1px solid#FFFFFF;
	text-align: center;
    height: 7rem;	
}
.am-bg-menu{
	height: 5rem;
	line-height:5rem;
	width: 5rem;
	background: #017EBC;
	border-radius: 2.5rem;
	color: white;
}
.am-g-bg a h1{
	display: block;
	position: relative;
	top: -2rem;
	color: #444444;
	font-size: 1.3rem;
	font-family: "����";
	
}
.am-zz{
	margin: 0 10px;
}
.am-czzn{
	margin: 0.5rem 0;
}
.am-btl{
	text-indent: 1rem;
	
}
.am-none{
	display: none;
}
/*.am-list-item-texta{
	font-size:1.3rem;
	
}*/
.am-list-item-texta{
	margin-top:-1rem;
}
.am-btn-bom{
	margin: 1rem 0;
}
.am-th{
	margin-top:0rem;
	position: relative;
	top: 0rem;
}

/*.am-th{
	margin-top:-3rem;
	position: relative;
	top: -3rem;
}*/
.am-left {	
	color:white;
}
.am-btn-kx{
	margin: 1rem 0;
}
.btn-loading{
	position: relative;
	top: -1rem;
}
.am-figure-text{
	font-size: 1.8rem !important;
}
.am-notice{
	color: red;
}
.am-img-noborder{
	border:none !important;
}
.am-fix-bom{
	top: 5rem;
}

.am-hzgc button{
	margin: 0.5rem auto;
}
	
/*#oc-ds-select-4{
	width: 180px;
	height: 34px;
	border: none;
	position: relative;
	top: -35px;
	border-right:1px solid#DEDEDE;
	
	
	
}*/
#am-dh{
	
	position: relative;
	top: -3.7rem;
	

}
.am-ckdd{
	width: 100%;
	height: auto !important;
	
}
.am-qqckhd{
	margin: 0.5rem auto !important;
}
#code{
	width: 100%;
}
.am-img_y{
	height: 3.5rem;
	margin-top: -3.6rem;
}
.yzm{
	width:50% !important;
}
.msgs{
	margin-top: -3.8rem !important;
}
.am-fl_a,.am-fr_b{
	width:100px;
	margin: 0px;
}

.am-panel-boeder-no{
	border: none !important;
}
.am-panel-hd{
	border-bottom:none!important;
}



@media (max-width:640px ) {
	.am-u-sm-4,.am-u-sm-8,.am-u-sm-12{
		font-size: 1.2rem;
		
	}
	table{
		font-size: 1.2rem;
		
	}
}
@media (max-width:360px ) {
	.am-u-sm-4,.am-u-sm-8,.am-u-sm-12{
		font-size: 1.2rem;
		
	}
	table{
		font-size: 1.1rem;
		
	}
}
