*{
	padding: 0;
	margin: 0;
	border: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; 
  font-family: "Microsoft YaHei";
}

.am-header-nav-title,.am-icon-home{
	font-size: 1.6rem !important;
}
.am-gs-text{
	font-size: 1.6rem;
}
